html {
    scroll-behavior: smooth;
}

section {
    padding: 80px 20px;
    min-height: 100vh;
}
body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

nav {
    background: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 40px;
}

.card {
    background: white;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
}

.auth-box {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    text-align: center;
}

input {
    width: 90%;
    margin: 10px 0;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}